*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.main{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar{
  width: 100%;
  height: 80px;
  background-color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(145, 145, 145);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 3px 5px rgb(189, 189, 189);
  gap: 30px;
}
.logo{
  color: #064b7d;
  font-size: 35px;
}
.imageInput{
  display: none;
}
.uploadButton{
  width: 170px;
  height: 40px;
  text-align: center;
  display: block;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #0573fa;
  color: rgb(231, 229, 229);
  cursor: pointer;
}
.uploadButton img{
  width: 30px;
}
.toolbox{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.textBtn{
  width: 80px;
  height: 40px;
  border-radius: 10px;
  background-color: #0573fa;
  border: none;
  color: rgb(231, 229, 229);
  cursor: pointer;
}
.text{
  display: flex;
  justify-content: center;
  align-items: center;
}
.textUpload{
  width: 400px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgb(165, 165, 165);
  font-size: 16px;
  padding-left: 10px;
  margin-right: 5px;
  color: rgb(104, 103, 103);
}
.textUpload:active{
  outline: none;
}
.fontSize,.fontColor{
  height: 40px;
  width: 40px;
  padding: 2px;
  font-size: 17px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid rgb(165, 165, 165);
}
.canvas{
  width: 100vw;
  height: 90vh;
  position: relative;
  border: 2px solid rgb(111, 110, 110);
  overflow: hidden;
  background-color: rgb(228, 228, 228);
}
.extraBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.extraBtns{
  width: 70px;
  height: 40px;
  background-color: #0573fa;
  border: 1px solid rgb(151, 151, 151);
  color: rgb(231, 229, 229);
  cursor: pointer;
  border-radius: 10px;
  padding: 4px;
}
.animation{
  width: 500px;
  height: 200px;
  position: absolute;
  border: 1px solid rgb(173, 173, 173);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  top: 300px;border-radius: 20px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}
.lower{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.progress-container{
  width: 400px;
  height: 20px;
  background-color: grey;
  border-radius: 20px;
}
.upper{
  font-size: 20px;
}
.progress{
  background-color: #0573fa;
  height: 20px;
  border-radius: 20px;
}
.videoPreview{
  width: 90vw;
  overflow: hidden;
  position: absolute;
}